<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- MIME Types -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Compression -->
    <httpCompression>
      <dynamicTypes>
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/css" enabled="true" />
      </dynamicTypes>
    </httpCompression>

    <!-- Caching Headers -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public, max-age=3600" />
        <add name="X-UA-Compatible" value="IE=edge" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>

    <!-- URL Rewrite for Service Worker -->
    <rewrite>
      <outboundRules>
        <rule name="Service Worker Cache Control" patternSyntax="Wildcard" stopProcessing="true">
          <match url="sw.js" />
          <action type="Rewrite" url="{REQUEST_URI}" logRewrittenUrl="true" />
          <serverVariables>
            <set name="Response_Cache_Control" value="public, max-age=0, must-revalidate" />
          </serverVariables>
        </rule>
        <rule name="Manifest Cache Control" patternSyntax="Wildcard" stopProcessing="true">
          <match url="manifest.json" />
          <action type="Rewrite" url="{REQUEST_URI}" logRewrittenUrl="true" />
          <serverVariables>
            <set name="Response_Cache_Control" value="public, max-age=86400" />
          </serverVariables>
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
